@font-face {
  font-family: sequel sans bold;
  src: url(/fonts/Sequel-Sans-Medium-Disp.otf);
  font-weight:normal;
}

@font-face {
  font-family: sequel sans light;
  src: url(/fonts/Sequel-Sans-Light-Disp.otf);
  font-weight:normal;
}

:root {
  --background-color1: rgb(0, 0, 0);
  --background-color2: #121212;

  --text-color : rgb(255, 255, 255);
}

body{
    color:rgb(255, 255, 255);
    color: var(--text-color);
    background-color:  var(--background-color1);
    font-size: 12px;
    margin: 0;
    margin-bottom: 50;

}

h1, h2, h3, h4, p, ul, ol{
  list-style-position: inside;
  text-align: center;
  font-family: "sequel sans light";
}

p, span{
  font-size: large;
  text-align: left;  
}

h1 {
    padding-top: 100;
    padding-left: 75;
    margin: 0;
    text-align:left;
    font-family: "sequel sans bold";
    font-size: 8em;
  }

h2{
font-size: 3em;
}

.aboutMe{
  height: 100vh;
  display: flex;
}

.descriptions{
  width: 65%;
}

.meImage{
}

.meImage img{
  position: absolute;
  margin-top: 50;
  z-index: -2;
  width:35%;
}

#radialSpotlight{
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 35%;
  background: radial-gradient(90% 80% at 10% 35%, rgba(0, 0, 0, 0) 20%, #000000 70%)
}

.aboutMe p{
  padding-left: 75;
  margin: 0;
}

.aboutMe span{
  padding-left: 0;
  margin-left: -3;
}

#shadeBand{
  width: 100%;
  height: 280;
  margin-top: -250;
  z-index: -1;
  background-image: linear-gradient(var(--background-color1) 90%, transparent 95%);
 
}

#longDescription{
  position: relative;
  width: 50%;
  padding-left: 75;
  padding-top: 0;
  margin-top: -310;
  z-index: -2;

  transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);

}

.attentionText{
  position:relative;
  top: 0;
  animation: jumpUpAndDown 1.2s 1 ease;
  animation-delay: -1s;
}

@keyframes jumpUpAndDown {
  0%{top: 0;}
  33%{top: -10;}
  66%{top: 5;}
  100%{top: 0;}
}


.projectSlideShow{
  display: flex;
  flex-direction: row;
  background-color: var(--background-color2);
  height: 80vh;

}

ul.projectSlideList {
  height: 80vh;
  padding: 0;
  border: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: auto;
  list-style-type: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; 
  scroll-behavior: smooth;
}

ul.projectSlideList li {
  align-self: center;
  position: relative;
  flex: 0 0 auto;
  width: 100vw;
  padding-left: 0;
  padding-right: 0;

}

ul::-webkit-scrollbar { width: 0 !important }

ul.projectSlideList li img {
  /*JUST A FALLBACK*/
  height: 400;
  /*ACTUAL HEIGHT MUST BE SET IN project-slide-view.js*/

  width: auto;
  transition: filter 300ms;
}

ul.projectSlideList li img:hover {
  filter:brightness(50%);
}




button.scrollButton{
  position: absolute;
  align-self: center;
  z-index: 1;
  padding: 0;
  background-color: transparent;
  border-color: transparent;
}

button.scrollButton img{
  width: 100;
  height: auto;
  filter: brightness(.6);
  transition: all 200ms;
}

#slideRight{
  right: 50;
}

#slideLeft{
  left: 50;
}

button.scrollButton:hover img{
  transform: scale(1.4);
  filter: brightness(.9);

}

.contactMe{
  padding-top: 50;
}

.contactInformation{
  display: flex;
  margin: auto;
  width: 200;
  height: 40;
  justify-content:flex-start;
  align-items: center;
}

.contactInformation img{
  height: 30;
  margin-right: 10;
}