:root {
  --background-color1: rgb(49, 119, 135);
  --background-color2: #202124;
  --background-color3: rgb(29, 83, 97);

  --text-color : rgb(255, 255, 255);
}

body{
    color:rgb(255, 255, 255);
    color: var(--text-color);
    background-color:  rgb(8, 8, 8);
    background-image: linear-gradient(to top right, var(--background-color1), var(--background-color3), var(--background-color2));
    font-size: 12px;
    margin: 0;
    margin-bottom: 50;

}

h1, h2, h3, h4, p, ul, ol{
  list-style-position: inside;
  text-align: center;
}

p{
  font-size: large;
  text-align: left;  
}

h1 {
    margin: 150px;
    text-align: center;
    font-size: 8em;
  }

  h1.invisible {
    display:none;
  }

h2{
font-size: 3em;
}

h1, h2, h3, h4{
  font-family: "Calisto MT", "Arial", sans-serif;
}

ul.projectSlideList {
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  list-style-type: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; 
  scroll-behavior: smooth;
}

ul.projectSlideList li {
  flex: 0 0 auto;
  width: 100%;
  padding-left: 0;
  padding-right: 0;

}

ul::-webkit-scrollbar { width: 0 !important }

ul.projectSlideList li img {
  margin: 100px;
  height: 500px;
  width: auto;
}


.projectSlideShow{
  display: flex;
  flex-direction: row;
  background-color: var(--background-color2);
}

button.scrollButton{
  align-self: center;
  padding: 0;
  background-color: transparent;
  border-color: transparent;
}

button.scrollButton img{
  width: 125;
  height: 500;
  opacity: .35;
}

.contactMe{
  padding-top: 50;
}

.contactInformation{
  display: flex;
  margin: auto;
  width: 200;
  height: 40;
  justify-content:flex-start;
  align-items: center;
}

.contactInformation img{
  height: 30;
  margin-right: 10;
}