body{
    color: #414141;
    background-color: #189dd2;
    font-size: 12px;

}

h1 {
    font-size: 8em;
  }

h2{
font-size: 3em;
}

h1, h2, h3, h4{
  font-family: "Brush Script MT", "Arial", sans-serif;
}

ul{
  list-style-type: circle;
}

ol
{
  list-style-type: georgian;
}

h1, h2, h3, h4, p, ul, ol{
  list-style-position: inside;
  text-align: center;
}